@use "../../scss/variables";
@use "../../scss/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: variables.$gray;
  border-radius: 10px;
  height: 165px;
  width: 300px;

  .image {
    position: absolute;
    top: -50px;
  }

  .title {
    @include mixins.body;
    text-transform: uppercase;
    font-weight: 600;
  }

  .link {
    margin: 1.5rem 0;
    text-decoration: none;
    @include mixins.subtitle;
  }
}
